footer {
  height: 30vh;
  background-color: #354447;
  margin-top: 50px;
  text-align: center;
}
footer {
background-color: #354447;
background-position: center;
background-repeat:repeat;
background-size: contain;
}
